# dotfile
DOTFILES_REPO=https://github.com/YOUR_USERNAME/YOUR_DOTFILES_REPO.git
DOTFILES_REPO_DIR=/path/to/dotfiles
DOTFILES_CONFIG_DIR=/path/to/.config/dotfiles
DOTFILES_CONFIG_FILE=/path/to/.dotfile_config.env

# wsl, linux, macos
OS_TYPE=some_os

## Asana Project Board
# ASANA_PROJECT_GID=
# ASANA_PAT=
# ASANA_ME_ID=
## Other team member's asana id ASANA_<name>_ID
# ASANA_OTHER_ID=
# ASANA_OTHER_ID=
# ASANA_OTHER_ID=

## Azure DevOps Board
# AZURE_ORG
# AZURE_PROJECT=
# AZURE_TEAM=
# AZURE_DEVOPS_PAT=
